.createDemandForm {
	width: 100%;
	overflow: auto;
}

.createDemandFormRowCover {
	width: 100%;
	overflow: auto;
}

.createDemandFormRow {
	width: 98%;
	height: 21px;
	overflow: auto;
	margin: 10px auto 0 auto;
}

.confidentialityRightAlign {
	float: right;
}

@media (min-width: 600px) and (max-width: 1215px) {
	.createDemandFormGeneralProperties {
		min-width: 400px;
		width: 48%;
		margin: 20px auto 20px 15%;
		padding: 20px !important;
		border-style: solid;
		border-width: 1px;
		border-color: #AAD4E2;
		float: left;
	}
}

.createDemandFormGeneralProperties {
	min-width: 400px;
	width: 48%;
	margin: 20px 1% 20px 1%;
	padding: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #AAD4E2;
	float: left;
}

/*.createDemandFormInstitution {
	width: 50%;
	margin: 0 auto 0 auto;
	padding: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #AAD4E2;
}*/

.createDemandFormSectionHeader {
	text-align: center;
	font-size: 20px;
}

.createDemandFormRowField {
	width: 100%;
	min-width: 350px;
	margin: 10px 0 10px 0;
	overflow: auto;
}

.createDemandFormRowFieldOne {
	width: 90%;
	min-width: 300px;
	float: left;
}

.createDemandFormRowFieldTwo {
	padding-left: 91%;
}

.createDemandFormRowFieldColumnOne {
	width: 50%;
	float: left;
	margin: 0;
}

.createDemandFormRowFieldColumnTwo {
	width: 50%;
	float: left;
	margin: 0;
}

.createDemandFormRowFieldColumnRow {
	width: 95%;
	height: 21px;
}

.createDemandFormCheckBox {
	width: 100%;
	min-width: 350px;
	margin: 10px auto 0 auto;
}

.createDemandFormCheckBoxInput {
	margin-left: 5px !important;
}

.formStateButton {
	height: 21px;
	padding: 0px;
	width: 102% !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}