.dashboards {
	width: 100vw;
	overflow: auto;
	margin: 0;
	background-color: white;
	min-height: 100vh;
	padding-top: 10vh;
}


.dashboardsFields {
    width: 81vw;
    overflow: auto;
    margin: 0 auto;
}

.rowBox {
	float: left;
    width: 18vw;
    height: 19vw;
    margin: 2vh;
    border-style: solid;
    border-color: #00A7F2;
    border-width: 1px;
    display: table;
    cursor: pointer;
    color: #00A7F2;
}

.rowBox p{
	font-size: 20px;
	font-weight: 200;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	
}

.rowBox:hover {
	background-color: #00A7F2;
	color: white;
}

.demandBoard {
	width: 100%;
	overflow: auto;
}




