.navbar {
	background-color: #00A7F2;
	margin-bottom: 0px !important;
	height: 5vh;
}

.navbarContent {
	width: 90vw;
	overflow: auto;
	margin: 10px auto 0 auto;
	padding: 0 auto 0 auto;
	display: table;
}

.navbarOptionCoverLeft {
	float: left;
	cursor: pointer;
	width: 400px;
}

.navbarOptionCoverRight {
	float: right;
	cursor: pointer;
}

.navbarOptionCover {
	margin: 0 auto 0 auto;
	overflow: auto;
}

.navbarLogo {
	width: 400px;
	overflow: auto;
}

.navbarOptionLeft {
	float: left;
	margin: 2px 0px 0px 20px;
	padding: 0 0 0 1%;
	text-align: center;
	display: table-cell;
	width: auto;
	color: white;
	font-size: 18px;
}

.navbarOptionLeftCompanyLogo {
	width: 25px;
	height: 25px;
	background-image: url("whiteLogo.png");
	float: left;
	background-size: contain;
}

.navbarOptionRight {
	float: left;
	margin: 0 0 0 0;
	padding: 0 1% 0 1%;
	text-align: center;
	display: table-cell;
	width: 80px;
	color: white;
	font-size: 18px;
}