.noMargin {
	margin: 0 !important;
	padding: 0 !important;
}

.marketButtonsCover {
	width: 50%;
	overflow: auto;
	margin: 0 auto 0 auto;
}

.marketplaceButtons {
	width: 245px;
	overflow: auto;
	margin: 0 auto 0 auto;
}

.marketplaceContentsCover {
	width: 80%;
	min-width: 400px;
	overflow: auto;
	margin: 50px auto 0 auto;
}

.marketSupplyPost {
	width: 490px;
	height: 490px;
	padding: 30px;
	background-color: #E6E6E6;
	display: table;
    margin: 20px;
    float: left;
}

.marketSupplyPost:hover {
	background-color: #E4F1F3;
	cursor: pointer;
}

.marketSupplyPostSummary {
	display: table-cell;
	vertical-align: middle;
	line-height: 3;
}

.clinicianPostFirstRow {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 25%;
}

.clinicianProfilePhoto {
	float: left;
	width: 100px;
	height: 100px;
	margin: 0 0 0 30px;
	padding: 0;
	overflow: auto;
	background-color: #80D8B0;
	border-radius: 100px;
}

.clinicianInitial {
	width: 100px;
	height: 100px;
	text-align: center;
	font-size: 50px;
	margin: 0;
	font-weight: 200;
	padding-top: 15px;
}

.clinicianProfilePhotoInfo {
	float: left;
	width: 400px;
	margin: 0 0 0 20px;
	padding: 0;
	overflow: auto;
}

.clinicianProfileInfo {
	width: 400px;
	height: 100px;
	padding-left: 150px;
	color: black;
}

.clinicianNameTitle {
	font-size: 25px;
}

.clinicianPostSecondRow {
	color: black;
}

.clinicianHeader {
	margin-top: 20px;
	font-size: 15px;
}

.clinicianSubheader {
	font-size: 13px;
	margin-left: 10px;
}

.clinicianSubheaderDesc {
	font-size: 10px;
	margin-left: 10px;
}

.clinicianCredentials {
	float: left;
	margin-top: 30px;
	width: 300px;
	height: 300px;
	background-color: red;
}

.clinicianPreference {
	float: left;
	margin-top: 30px;
	width: 130px;
	height: 300px;
	background-color: blue;
}

.clinicianSectionShort {
	height: 30px;
	margin-bottom: 10px;
}

.clinicianSectionLong {
	height: 70px;
	margin-bottom: 10px;
}





