.marketButtonsCover {
	width: 50%;
	overflow: auto;
	margin: 0 auto 0 auto;
}

.marketplaceButtons {
	width: 245px;
	overflow: auto;
	margin: 0 auto 0 auto;
}

.marketplaceContentsCover {
	width: 80%;
	min-width: 400px;
	overflow: auto;
	margin: 50px auto 0 auto;
}

.marketSupplyPost {
	width: 300px;
	height: 300px;
	padding: 30px;
	background-color: #E6E6E6;
	display: table;
    margin: 20px;
    float: left;
}

.marketSupplyPost:hover {
	background-color: #E4F1F3;
	cursor: pointer;
}

.marketSupplyPostSummary {
	display: table-cell;
	vertical-align: middle;
	line-height: 3;
}

