body {
	font-family: proxima-nova, sans-serif !important;
	-webkit-font-smoothing: antialiased !important;
}

.frontPageIntro {
	font-family: brandon-grotesque, sans-serif !important;
    font-weight: 400 !important;
    font-size: 40px !important;
    line-height: 46px !important;
    letter-spacing: 0.05em !important;
    width: 80%;
    min-width: 400px;
    text-align: center;
    margin: 0 auto 0 auto !important;
    line-height: 2 !important;
}

@media (max-width: 700px) {
	.frontPageIntro {
		font-family: brandon-grotesque, sans-serif !important;
	    font-weight: 400 !important;
	    font-size: 30px !important;
	    line-height: 46px !important;
	    letter-spacing: 0.05em !important;
	    width: 80%;
	    min-width: 400px;
	    text-align: center;
	    margin: 0 auto 0 auto !important;
	    line-height: 2 !important;
	}
}

.frontPage {
	font-family: proxima-nova, sans-serif !important;
	text-shadow: 0 1px 5px rgba(0,0,0,.25);
	color: white;
	background-color: #00A7F2;
	margin: 0;
	padding: 0;
}

.frontPageButtonWrapperLeft {
	border-style: solid !important;
	border-color: #AAD4E2 !important;
	border-radius: 1px !important;
	background-color: white !important;
}

.frontPageButtonWrapperRight {
	border-style: solid !important;
	border-color: #AAD4E2 !important;
	border-radius: 1px !important;
	background-color: white !important;
}

.frontPageButtonWrapperLeft:hover {
	background-color: #AAD4E2 !important;
	color: white !important;
	outline: none !important;
}

.frontPageButtonWrapperRight:hover {
	background-color: #AAD4E2 !important;
	color: white !important;
	outline: none !important;
}

.frontPageButtonWrapperLeft:focus {
	background-color: #AAD4E2 !important;
	color: white !important;
	outline: none !important;
	transition: background 2s linear !important;
}

.frontPageButtonWrapperRight:focus {
	background-color: #AAD4E2 !important;
	color: white !important;
	outline: none !important;
	transition: background 2s linear !important;
}

.cliniciansSearchFields {
	background-color: white;
	width: 60vw;
	height: 36px;
	margin: 0% 20vw 4% 20vw;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
}

.searchDropdownButton {
	border-color: white !important;
	margin: 0 auto 0 auto !important;
	width: 100% !important;
	text-align: center !important;
	color: #857777 !important;
	font-family: proxima-nova, sans-serif !important;	
}

.searchBoxSearchTab {
	border-color: white;
	border-left: solid;
	border-right: solid;
	border-width: 1px;
}

.searchBoxSearchTab input {
	padding: 4px;
	height: 34px;
	width: 123%;
	margin: 0 0 0 3px;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    border: 0px solid #eee;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: black;
    text-align: center;
   	font-family: proxima-nova, sans-serif;
	color: #787777;
}

.searchFieldHoveringArea {
	border-color: white;
	width: 19% !important;
	margin: 0 !important;
	padding: 0 !important;
	float: left;
}

.searchFieldSearchButtonArea {
	width: 19% !important;
	float: right !important;
	font-family: proxima-nova, sans-serif;
}

.searchFieldSearchButton {
	width: 100% !important;
	border-style: none !important;
	border-color: #ADADAD !important;
	background-color: #FC6028 !important;
	color: white !important;
}

.searchFields {
	width: 100vw;
	height: 100vh;
	padding-top: 5vh;
	
/*	background-image: url("stockphoto.png");*/
}

.searchFields p{
	font-weight: 400;
	font-size: 40px;
	text-align: center;
	padding-top: 15vh !important;
}

.mainBackgroundButtons {
	margin: 2% 25% 4% 25%;
	width: 50% !important;
}

.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}

.clinicianClinicSelectionButton {
	width: 20%;
	min-width: 300px;
	margin: 7vh auto 7vh auto;
	font-size: 20px;
}

.selectionCheckBoxUnselected {
    height: 35px;
    width: 140px;
    float: left;
    border-radius: 20px;
    border-color: white;
    color: white;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    font-weight: 600;
	margin: 3px 5px 10px 5px;
    padding-top: 1px;
    text-align: center;
    cursor: pointer;
}

.selectionCheckBoxUnselected:hover {
	height: 35px;
    width: 140px;
    float: left;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    font-weight: 600;
    margin: 3px 5px 10px 5px;
    padding-top: 1px;
    text-align: center;
    background-color: white;
    color: #00A7F2;
    cursor: pointer;
}

.frontPageSelectionButton {
	float: left;
}

.frontPageSelectionLabel {
	float: left;
}

.selectionClinicCover {
	width: 70px;
	overflow: auto;
	text-align: auto;
	margin: 0 auto;
}

.selectionClinicianCover {
	width: 100px;
	overflow: auto;
	text-align: auto;
	margin: 0 auto;
}

.selectionCheckBoxSelected {
    height: 35px;
    width: 140px;
    float: left;
    border-radius: 20px;
    border-color: white;
    color: white;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    font-weight: 600;
	margin: 3px 5px 10px 5px;
    padding-top: 1px;
    text-align: center;
    cursor: pointer;
}

.selectionCheckBoxSelected:hover {
	height: 35px;
    width: 140px;
    float: left;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    font-weight: 600;
    margin: 3px 5px 10px 5px;
    padding-top: 1px;
    text-align: center;
    background-color: white;
    color: #00A7F2;
    cursor: pointer;
}

.clinicianClinicButtonCover {
    width: 300px;
    overflow: auto;
    margin: 10px auto 10px auto;
}

.iAmA {
	border-style: none;
	margin: 0;	
	text-align: center;
	margin-right: 5px;
	font-weight: 600;
}

.clinicianButton {
	background-color: #00a7f2;
	border-style: none;
	float: left;
	padding: 0 2px 0 2px;
	font-weight: 600;
	margin-left: 3px;
}

.clinicButton {
	background-color: #00a7f2;
	border-style: none;
	float: left;
	padding: 0 2px 0 2px;
	margin-left: 3px;
}




