body {
	font-family: proxima-nova, sans-serif !important;
}

.frontPageIntro {
	font-family: brandon-grotesque, sans-serif !important;
    font-weight: 500 !important;
    font-size: 40px !important;
    line-height: 46px !important;
    letter-spacing: 0.05em !important;
    width: 80%;
    min-width: 400px;
    text-align: center;
    margin: 0 auto 0 auto !important;
    line-height: 2 !important;
}

.frontPage {
	font-family: proxima-nova, sans-serif !important;
	color: #185674 !important;
	overflow: auto;
	background-color: white;
	padding: 50px 0 0 0;
}

.frontPageButtonWrapperLeft {
	border-style: solid !important;
	border-color: #AAD4E2 !important;
	border-radius: 1px !important;
	background-color: white !important;
}

.frontPageButtonWrapperRight {
	border-style: solid !important;
	border-color: #AAD4E2 !important;
	border-radius: 1px !important;
	background-color: white !important;
}

.frontPageButtonWrapperLeft:hover {
	background-color: #AAD4E2 !important;
	color: white !important;
	outline: none !important;
}

.frontPageButtonWrapperRight:hover {
	background-color: #AAD4E2 !important;
	color: white !important;
	outline: none !important;
}

.frontPageButtonWrapperLeft:focus {
	background-color: #AAD4E2 !important;
	color: white !important;
	outline: none !important;
	transition: background 2s linear !important;
}

.frontPageButtonWrapperRight:focus {
	background-color: #AAD4E2 !important;
	color: white !important;
	outline: none !important;
	transition: background 2s linear !important;
}

.cliniciansSearchFields {
	background-color: white;
	width: 60%;
	height: 36px;
	margin: 8% auto 4% auto;
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
}

.searchDropdownButton {
	border-color: white !important;
	margin: 0 auto 0 auto !important;
	width: 100% !important;
	text-align: center !important;
	color: #857777 !important;
	font-family: proxima-nova, sans-serif !important;	
}

.searchBoxSearchTab {
	border-color: white;
	border-left: solid;
	border-right: solid;
	border-width: 1px;
}

.searchBoxSearchTab input {
	padding: 4px;
	height: 34px;
	width: 123%;
	margin: 0 0 0 3px;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    border: 0px solid #eee;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: black;
    text-align: center;
   	font-family: proxima-nova, sans-serif;
	color: #787777;
}

.searchFieldHoveringArea {
	border-color: white;
	width: 19% !important;
	margin: 0 !important;
	padding: 0 !important;
	float: left;
}

.searchFieldSearchButtonArea {
	width: 19% !important;
	float: right !important;
	font-family: proxima-nova, sans-serif;
}

.searchFieldSearchButton {
	width: 100% !important;
	border-style: none !important;
	border-color: #ADADAD !important;
	background-color: #FC6028 !important;
	color: white !important;
}

.searchFields {
	width: 100%;
	height: 400px;
/*	background-image: url("stockphoto.png");*/
}

.searchFields p{
	font-weight: 200;
	font-size: 40px;
	text-align: center;
	margin: 50px 0 0 0;
}

.mainBackgroundButtons {
	margin: 2% 25% 4% 25%;
	width: 50% !important;
}

.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}